<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373686806847-9c1jahcou2e04snoqbae41eogir6pqlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373686806847-9c1jahcou2e04snoqbae41eogir6pqlr</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMZ9Qpyz9Syh55jQuwJBcY_FCXIKooqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>373686806847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.atomuz.Coffe-Curators</string>
	<key>PROJECT_ID</key>
	<string>coffee-curators</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-curators.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373686806847:ios:da5f5382ccbc93f7dbcb8a</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-curators.firebaseio.com</string>
</dict>
</plist>