<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732009810930-kfl9jckeku2g9erbic5ik93jr3222eei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732009810930-kfl9jckeku2g9erbic5ik93jr3222eei</string>
	<key>API_KEY</key>
	<string>AIzaSyCRgcgWD26fNA1TvrI6vOtXcS68g73JyBI</string>
	<key>GCM_SENDER_ID</key>
	<string>732009810930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.atomuz.Joult</string>
	<key>PROJECT_ID</key>
	<string>jolt-coffee-b69f0</string>
	<key>STORAGE_BUCKET</key>
	<string>jolt-coffee-b69f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732009810930:ios:a949fef6039db57223396b</string>
	<key>DATABASE_URL</key>
	<string>https://jolt-coffee-b69f0.firebaseio.com</string>
</dict>
</plist>